@import "./variables.scss";

body {
  font-family: var(--font-text);
  color: var(--color-primary);
  background: var(--color-background);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--font-heading);
  font-weight: normal;
}
