.footer {
  margin-top: 4rem;
  padding: 2rem 2rem;
  border-radius: 20px;
  margin-bottom: 0.5rem;
  background-color: #fff;
  &__up {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    gap: 40px; // по желанию

    &_logo {
      img {
        width: 100px;
        height: auto;
      }
    }

    &_list {
      display: flex;
      justify-content: space-between;
      gap: 40px;

      div {
        display: flex;
        flex-direction: column;
        gap: 10px;

        h4 {
          font-weight: 800;
          margin-bottom: 5px;
        }

        nav {
          display: flex;
          flex-direction: column;
          gap: 6px;

          li {
            list-style: none;
            cursor: pointer;

            &:hover {
              opacity: 0.7;
            }
          }
        }
      }
    }

    &_more {
      max-width: 260px;
      display: flex;
      flex-direction: column;
      gap: 10px;

      &_icons {
        display: flex;
        align-items: center;
        gap: 1rem;
        cursor: pointer;
      }
      h4 {
        font-weight: 900;
      }

      button {
        padding: 8px 12px;
        border: none;
        background: var(--color-primary);
        color: #fff;
        border-radius: 30px;
        cursor: pointer;

        &:hover {
          opacity: 0.8;
        }
      }
    }
  }

  &__down {
    margin-top: 40px;
    padding-top: 20px;
    border-top: 1px solid #ccc;

    &_info {
      .company {
        font-weight: 700;
        margin-top: 1rem;
        opacity: 0.8;
      }
      &_links {
        .privacy {
          opacity: 0.8;
          margin-bottom: 1rem;
        }
      }
    }
  }
}
@media (max-width: 950px) {
  .footer {
    margin-top: 2rem;

    margin-bottom: 0.3rem;

    &__up {
      flex-direction: column;

      &_logo {
        img {
          width: 80px;
        }
      }

      &_list {
        width: 100%;
        display: flex;
        justify-content: space-between;
      }
    }
  }
}
@media (max-width: 950px) {
  .footer {
    margin-top: 2rem;
    padding: 7px;
    margin-bottom: 0.3rem;

    &__down {
      margin-top: 30px;
    }

    &__up {
      flex-direction: column;

      &_more {
        margin: 0 auto;
      }

      &_logo {
        img {
          width: 80px;
        }
      }

      &_list {
        width: 100%;
        display: flex;
        justify-content: center;
        // justify-content: start;
        margin: 0 auto;
        flex-wrap: wrap;
      }
    }
  }
}
