.menu-wrap {
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.title {
  text-align: center;
  margin-top: 7rem;
}

.title__main {
  font-weight: 700;
  font-size: 2rem;
  margin-bottom: 1rem;
}

.title__desc {
  font-size: 1rem;
  max-width: 600px;
  margin: 0 auto;
  padding-bottom: 3rem;
}
.title__desc span {
  font-weight: 700;
}

.menu {
  display: flex;
  flex-direction: column;
  height: 80%;
  margin: 0;
  padding: 0;
}

.menu__item {
  flex: 1;
  position: relative;
  overflow: hidden;
  text-align: center;
  box-shadow: 0 -1px #fff;
}

.menu__item-link {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  cursor: pointer;
  text-transform: uppercase;
  text-decoration: none;
  white-space: nowrap;
  font-weight: 600;
  color: #fff;
  font-size: 4vh;
}

.menu__item-link:hover {
  color: #060010;
}

.marquee {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  width: 100%;
  height: 100%;
  pointer-events: none;
  background: #fff;
  transform: translate3d(0, 101%, 0);
  transition: transform 0.6s ease-expo;
}

.marquee__inner-wrap {
  height: 100%;
  width: 200%;
  display: flex;
}

.marquee__inner {
  display: flex;
  align-items: center;
  height: 100%;
  width: 200%;
  animation: marquee 15s linear infinite;
}

.marquee span {
  color: #060010;
  white-space: nowrap;
  text-transform: uppercase;
  font-weight: 400;
  font-size: 4vh;
  line-height: 1.2;
  padding: 1vh 1vw;
}

.marquee__img {
  width: 200px;
  height: 7vh;
  margin: 2em 2vw;
  border-radius: 50px;
  background-size: cover;
  background-position: 50% 50%;
}

/* Hover-анимация для desktop */
.menu__item-link:hover + .marquee {
  transform: translate3d(0, 0%, 0);
}

/* Анимация бегущей строки */
@keyframes marquee {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

/* ----- МОБИЛЬНАЯ ВЕРСИЯ ----- */
@media (max-width: 768px) {
  .marquee {
    transform: translate3d(0, 0, 0) !important;
  }

  .menu__item-link {
    pointer-events: none; /* отключаем hover */
  }

  .marquee__inner {
    animation-duration: 10s;
  }
  .title {
    padding: 0px 5px 0px 5px;
  }

  .title__main {
    font-weight: 700;
    padding: 0 5px;
    font-size: 1.4em;
    margin-bottom: 1rem;
  }

  .title__desc {
    font-size: 14px;
    padding: 0 5px;
  }
}
