.section {
  width: 100%;
  padding: 0rem 2rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 6rem;
  margin-bottom: 70px;
  border-radius: 2rem;
}

/* ==== TEXT CONTENT ===== */

.content {
  max-width: 800px;
  display: flex;
  flex-direction: column;
  gap: 1.2rem;
}

.title {
  font-size: 2.4rem;
  font-weight: 700;
  line-height: 1.2;
  color: #fff;
}

.subtitle {
  font-size: 1.1rem;
  color: #fff;
  line-height: 1.4;
  max-width: 380px;
}

/* ==== BUTTON ===== */

.button {
  margin-top: 1rem;
  padding: 0.9rem 1.8rem;
  background-color: transparent;
  color: white;
  border: none;
  border-radius: 30px;
  font-size: 1rem;
  font-weight: 600;
  cursor: pointer;
  width: fit-content;
  transition: 0.25s ease;
  border: 1px solid #fff;

  &:hover {
    background-color: var(--color-primary);
    transform: translateY(-2px);
  }
}

/* ==== IMAGE SECTION ===== */

.imageWrapper {
  flex-shrink: 0;
}

.image {
  width: 320px;
  height: auto;
  border-radius: 1.5rem;
  object-fit: cover;
}

/* ==== RESPONSIVE ===== */

@media (max-width: 900px) {
  .section {
    flex-direction: column;
    text-align: center;
    padding: 2em 1rem;
    margin-top: 3rem;
  }
  .title {
    font-size: 2rem;
  }

  .button {
    margin: 0 auto;
  }

  .imageWrapper {
    margin-top: 2rem;
  }
}
