.section {
  padding: 130px 20px;
  background-color: #fff;
  display: flex;
  justify-content: center;
  text-align: center;
  border-radius: 30px;

  @media (max-width: 700px) {
    padding: 2rem 1.4rem;
  }
}

.content {
  max-width: 650px;
}

.title {
  font-size: 2.6rem;
  font-weight: 700;
  margin-bottom: 20px;

  @media (max-width: 700px) {
    font-size: 1.7rem;
  }
}

.subtitle {
  font-size: 1.15rem;

  margin-bottom: 40px;
  line-height: 1.55;

  @media (max-width: 700px) {
    font-size: 14px;
  }
}

.form {
  display: flex;
  flex-direction: column;
  gap: 16px;

  input {
    padding: 16px 20px;
    border-radius: 16px;
    border: none;
    background: #fff;
    font-size: 1rem;
    box-shadow: 0 10px 30px rgba(164, 201, 255, 0.22),
      0 12px 32px rgba(247, 167, 196, 0.17);

    &:focus {
      outline: 2px solid rgba(164, 201, 255, 0.7);
    }
  }

  button {
    margin-top: 10px;
    padding: 16px 24px;
    background: var(--color-primary); // акцентный голубой
    border: none;
    color: #fff;
    font-size: 1.1rem;
    border-radius: 16px;
    cursor: pointer;
    transition: 0.25s ease;

    &:hover {
      background: #5e8aca;
    }

    &:active {
      scale: 0.97;
    }
  }
}
