.wrapper {
  position: relative;
  margin-top: 5rem;

  h2 {
    font-size: 2rem;
    text-align: center;
    font-weight: 700;
    margin-bottom: 1rem;
  }

  p {
    text-align: center;
    max-width: 600px;
    margin: 0 auto;
    span {
      font-weight: 600;
    }
  }
}

.countries {
  display: flex;
  flex-direction: column;
  //   gap: 4rem;
  font-size: 5rem;
  font-weight: 300;
  cursor: default;
}

.country {
  width: fit-content;
  transition: color 0.3s ease;
  width: 100%;
  padding: 1rem 0rem;
}
.countryJordan {
  width: fit-content;
  transition: color 0.3s ease-in-out;
  width: 100%;

  padding: 1rem 0rem;
}

.country:hover {
  color: #0077ff;
}

.preview {
  position: fixed;
  //   width: 220px;
  //   height: 160px;
  object-fit: cover;
  pointer-events: none;
  transform: translate(-50%, -50%);
  border-radius: 12px;
  opacity: 0;
  animation: fadeIn 0.5s forwards;
  transition: transform 0.15s ease-in-out;
}

@keyframes fadeIn {
  to {
    opacity: 1;
  }
}
