.values {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin-top: 7rem;

  h2 {
    font-size: 2rem;
    font-weight: 700;
  }
  p {
    max-width: 900px;
    text-align: center;
  }

  @media (max-width: 900px) {
    flex-direction: column;
    gap: 1rem;
    margin-top: 4rem;

    h2 {
      font-size: 24px;
      text-align: center;
      font-weight: 700;
    }
    p {
      max-width: 900px;
      text-align: center;
      font-size: 14px;
      opacity: 0.8;
    }
  }
}
