.values {
  display: flex;
  justify-content: space-between;
  gap: 3rem;
  margin-top: 7rem;
  padding: 9rem;
  background-image: url("../../shared/assets/Group 15.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  width: 100%;
  border-radius: 40px;
  height: auto;

  .content {
    background-color: white;
    padding: 3rem 1rem;
    border-radius: 20px;
    border: 1px solid var(--color-primary);
    display: flex;
    margin: auto auto;
    flex-direction: column;
    align-items: center;
    max-height: 500px;
    width: 100%;
    max-width: 950px;
    justify-content: center;
    gap: 1rem;
  }

  h2 {
    font-size: 2rem;
    font-weight: 700;
  }

  p {
    max-width: 900px;
    text-align: center;
  }

  /* Планшеты (от 600px до 900px) */
  @media (max-width: 900px) and (min-width: 601px) {
    flex-direction: column;
    gap: 2rem;
    margin-top: 4rem;
    padding: 5rem;

    .content {
      padding: 2.5rem 1rem;
      max-width: 700px;
    }

    h2 {
      font-size: 1.8rem;
    }

    p {
      font-size: 15px;
    }
  }

  /* Мобильные устройства (до 600px) */
  @media (max-width: 600px) {
    flex-direction: column;
    gap: 1.5rem;
    margin-top: 6rem;
    padding: 2rem;

    .content {
      padding: 2rem 1rem;
      max-width: 100%;
    }

    h2 {
      font-size: 1.5rem;
    }

    p {
      font-size: 14px;
      // padding: 0 1rem;
    }

    border-radius: 20px;
  }
}
