.whoUs {
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 7rem 0rem 3rem;

  .title {
    font-size: 2em;
    text-align: center;
    font-weight: 700;
  }
}

.whoUs__wrapper {
  display: flex;
  flex-direction: column;
  gap: 2rem;
  background-color: #fff;
  padding-right: 8px;
  padding: 3rem 0px;
  border-radius: 15px;
}

.user,
.cat {
  display: flex;
  align-items: flex-end;
  gap: 10px;
}

.user img,
.cat img {
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.user__message,
.cat__message {
  max-width: 60%;
  padding: 12px 16px;
  border-radius: 16px;
  font-size: 18px;
  line-height: 1.4;
  position: relative;

  background: var(--color-secondary);
}

.user {
  justify-content: flex-end;
}
.user__message {
  background: var(--color-secondary);
  border-bottom-right-radius: 4px;
}
.user__message::after {
  content: "";
  position: absolute;
  right: -10px;
  bottom: 6px;
  border: 10px solid transparent;
  border-left-color: var(color--secondary);
}

.cat {
  justify-content: flex-start;
}
.cat__message {
  background: var(color--secondary);
  border-bottom-left-radius: 4px;
}
.cat__message::after {
  content: "";
  position: absolute;
  left: -10px;
  bottom: 6px;
  border: 10px solid transparent;
  border-right-color: var(color--secondary);
}
@keyframes fadeInUp {
  0% {
    opacity: 0;
    transform: translateY(20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.messageVisible {
  animation: fadeInUp 0.5s ease forwards;
}
@media (max-width: 570px) {
  .whoUs {
    margin: 4rem 0;

    .title {
      font-size: 1.4em;
      margin-top: 30px;
      text-align: center;
    }
  }

  .whoUs__wrapper {
    gap: 1rem;
    // max-height: 250px;
    padding: 1rem 0px;
    padding-right: 4px;
  }

  .user,
  .cat {
    gap: 6px;
  }

  .user img,
  .cat img {
    width: 35px;
    height: 35px;
  }

  .user__message,
  .cat__message {
    max-width: 80%;
    padding: 8px 12px;
    border-radius: 12px;
    font-size: 12px;
    line-height: 1.3;
  }

  .user__message::after {
    right: -6px;
    bottom: 4px;
    border: 6px solid transparent;
    border-left-color: var(--color-secondary);
  }

  .cat__message::after {
    left: -6px;
    bottom: 4px;
    border: 6px solid transparent;
    border-right-color: var(--color-secondary);
  }
}
