.section {
  padding: 120px 0px;
  @media (max-width: 700px) {
    padding: 3rem 20px 2rem;
  }
}

.title {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  margin-bottom: 70px;
  // color: #333;
  @media (max-width: 700px) {
    margin-bottom: 40px;
    font-size: 1.4em;
  }
}

/* 3 колонки на десктопе, 2 на планшете, 1 на мобиле */
.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 40px;

  @media (max-width: 1000px) {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (max-width: 650px) {
    grid-template-columns: 1fr;
  }
}

.card {
  background: white;
  border-radius: 24px;
  padding: 32px;
  text-align: center;

  box-shadow: 0 14px 40px rgba(164, 201, 255, 0.25),
    0 12px 30px rgba(247, 167, 196, 0.15);

  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  transition: 0.3s;

  &:hover {
    transform: translateY(-6px);
  }

  h3 {
    font-size: 1.3rem;
    font-weight: 800;
    // color: #333;
  }

  p {
    color: #555;
    // line-height: 1.55;
  }
}

.emoji {
  font-size: 2.4rem;
}
