.section {
  padding: 120px 20px;
}

.title {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;
  color: #333;
  margin-bottom: 60px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.card {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 40px;
  border-radius: 24px;

  box-shadow: 0 12px 40px rgba(164, 201, 255, 0.25),
    0 12px 30px rgba(247, 167, 196, 0.15);

  @media (max-width: 900px) {
    flex-direction: column;
    padding: 28px;
  }
}

/* Фото */
.image {
  flex: 1;
  min-height: 260px;
  max-height: 340px;
  border-radius: 22px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 10px 28px rgba(164, 201, 255, 0.25);
}

/* Текст */
.content {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  gap: 16px;

  h3 {
    font-size: 1.8rem;
    color: #333;
    font-weight: 700;
  }

  p {
    font-size: 1rem;
    color: #555;
    line-height: 1.6;
  }
}

.info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;

  span {
    font-size: 0.95rem;
    color: #444;
  }
}

.price {
  font-weight: 600;
  color: #2c2c2c;
}

.button {
  width: max-content;
  margin-top: 18px;
  padding: 12px 22px;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  background: #a4c9ff;
  color: white;
  transition: 0.25s;

  &:hover {
    background: #8cb8f8;
    transform: translateY(-3px);
  }
}
