.section {
  margin: 6rem 0rem 3rem;
}

.title {
  text-align: center;
  font-size: 2.4rem;
  font-weight: 700;

  margin-bottom: 60px;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 60px;
}

.card {
  display: flex;
  flex-direction: row;
  gap: 40px;
  padding: 40px;
  border-radius: 24px;
  border: 1px solid rgb(255, 195, 227);

  box-shadow: 0 12px 40px rgba(164, 201, 255, 0.25),
    0 12px 30px rgba(247, 167, 196, 0.15);

  @media (max-width: 900px) {
    flex-direction: column;
    padding: 28px;
  }
}

/* Фото */
.image {
  flex: 1;
  min-height: 260px;
  max-height: 340px;
  border-radius: 22px;
  background-size: cover;
  background-position: center;
  box-shadow: 0 10px 28px rgba(164, 201, 255, 0.25);
}

/* Текст */
.content {
  flex: 1.2;
  display: flex;
  flex-direction: column;
  gap: 16px;

  h3 {
    font-size: 1.8rem;

    font-weight: 800;
  }

  p {
    font-size: 1rem;
    opacity: 0.7;

    line-height: 1.6;
  }

  color: #fff;
}

.info {
  margin-top: 10px;
  display: flex;
  flex-direction: column;
  gap: 6px;

  span {
    font-size: 0.95rem;
  }
}

.price {
  font-weight: 600;
}

.button {
  width: max-content;
  margin-top: 18px;
  padding: 12px 22px;
  border-radius: 14px;
  border: none;
  cursor: pointer;
  background: #fff;
  color: var(--color-primary);
  transition: 0.25s;

  &:hover {
    background: var(--color-secondary);
    transform: translateY(-3px);
    color: var(--color-primary);
  }
}
