.services {
  margin-top: 7rem;
  &__title {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    // justify-content: center;
    align-items: center;
    h2 {
      font-size: 2rem;
      font-weight: 700;
    }
    p {
      text-align: center;
      margin-top: 1rem;
      max-width: 600px;
      font-size: 18px;
      opacity: 0.8;
      span {
        font-weight: 700;
      }
    }
  }

  &__buttons {
    display: flex;
    align-items: center;
    justify-content: space-around;
    padding: 3rem 0rem 3rem;
    max-width: 70%;
    margin: 0 auto;

    &_button {
      display: flex;
      align-items: center;
      gap: 1rem;
      border: 1px solid var(--color-primary);
      padding: 0.8rem 1.8rem;
      border-radius: 50px;
      font-size: 1rem;
      font-weight: 600;
      font-size: 18px;
      transition: 0.3s ease-in-out;
    }
  }
  .active {
    background-color: var(--color-primary);
    color: white !important;
  }

  &__info {
    display: flex;

    &_internship1,
    &_internship2,
    &_internship3 {
      flex: 1;
    }

    h3 {
      font-weight: 700;
      text-align: center;
      font-size: 18px;
      margin-bottom: 1rem;
    }

    &_internship1 {
      &_languages {
        background-color: #fff;
        padding: 1rem;
        border-radius: 12px;
        display: flex;
        flex-direction: column;
        gap: 1rem;
        gap: 1rem;
        div {
          display: flex;
          align-items: center;
          gap: 1rem;
        }
      }
    }

    &_internship2 {
      &_blocks {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        div {
          padding: 1rem 1.5rem;
          background-color: #fff;
          border-radius: 25px;
        }
      }
    }

    &_internship3 {
      &_blocks {
        display: flex;
        flex-direction: column;
        gap: 0.4rem;
        div {
          padding: 1rem 1.5rem;
          background-color: #fff;
          border-radius: 25px;
        }
      }
    }
  }
}
.services__info {
  display: flex;
  justify-content: center;
}

.infoBlock {
  display: flex;
  gap: 3rem;
  width: 100%;
  animation: fade 0.3s ease;
}

/* плавное появление */
@keyframes fade {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
