.jorney {
  position: relative;
  //   height: 2042px;
}

.stepsContainer {
  position: relative;
  width: 100%;
  height: 2000px;
}

.step {
  position: absolute;
  width: 200px;
  padding: 15px;
  background: #fff;
  border-radius: 12px;
  box-shadow: 0 4px 15px rgba(0, 0, 0, 0.1);
  text-align: center;
  transition: transform 0.3s;

  &:hover {
    transform: translateY(-10px);
  }

  .icon {
    font-size: 36px;
    margin-bottom: 10px;
    color: #4f46e5; // можно менять цвет иконок
  }

  h3 {
    margin: 5px 0;
    font-size: 18px;
    font-weight: 600;
  }

  p {
    font-size: 14px;
    color: #555;
  }
}
.svg {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 2042px;

  svg {
    height: 100%;
  }
}
