.blocks {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
  flex-wrap: wrap;

  &__block_1,
  &__block_2,
  &__block_3,
  &__block_4 {
    background-color: var(--color-accent);
    flex: 1 1 200px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;

    h3 {
      font-size: 2rem;
      font-weight: 600;
    }

    p {
    }

    img {
      width: 100%;
      max-width: 150px;
      margin: 0 auto;
      padding: 2rem 0;
    }
  }
}

// Мобильные устройства
@media (max-width: 600px) {
  .blocks {
    flex-direction: column;
    align-items: center;

    &__block_1,
    &__block_2,
    &__block_3,
    &__block_4 {
      flex: 1 1 100%;
      margin: 10px;

      h3 {
        font-size: 24px;
        text-align: center;
        font-weight: 700;
      }

      img {
        max-width: 100px;
        padding: 1rem 0;
      }
    }
  }
}

// Планшеты
@media (min-width: 601px) and (max-width: 1024px) {
  .blocks {
    &__block_1,
    &__block_2,
    &__block_3,
    &__block_4 {
      flex: 1 1 calc(50% - 20px);
    }
  }
}
.blocks__block_1 {
  position: relative;
  overflow: hidden;
}

.invertCircle {
  position: absolute;
  width: 100px;
  height: 100px;
  border-radius: 50%;
  pointer-events: none;
  mix-blend-mode: difference;
  background-color: white;
}
